body{
  background:url(../images/tile.jpg);
}

body > div{
margin:auto;
width:960px;
background-color:#000000;
}



body > div > section:nth-child(1){
  background-color: blue;
  width:600px;
  float:left;
}

body > div > section:nth-child(1) p{
  background-color: red;
  width:290px;
  margin:0px 5px 0px 5px;
  float:left;
}

body > div > section:nth-child(2){
  background-color:#f00;
  width:320px;
  float:left;
  padding:20px;
}

.clear{
  clear: both;
}