@base: #000000;
@grey: #BABABA;
@red: #AC0300;
@dkgrey: #222222;
.loginColor
{
  background-color: @grey;
  color: @red;
}
body{
  background-color: black;
}

html, body {
  height: 100%; }

//ICONS
.icon{
  width:300px;
  height:200px;
}
.iconTitle
{
  text-align: left;
}
#app-icon
{

}
#money-icon
{

}
#contacts-icon
{

}
#general-icon
{

}


//end of icons

.red-text{
  color: @red;
  font-weight: bold;
  padding-top:10px;
}

.noDots
{
  list-style-type: none;
}

.hidden{
  display: none;
}

.fixedAA
{
  position: fixed;
  top: 0;
  z-index: 99;
}

fieldset {
border: solid 1px #000000;
padding: 1.25em;
margin: 1.125em 0;
}

label {
font-size: 0.875em;
color: white;
font-weight:bold;
}

.heading
{
  color: @red;
}

#login {
background: @grey;
border: 1px @grey solid;
color: black;

}

.top-bar-section ul li > a.button.alert {
background: @grey;
border: 1px @grey solid;
color: black;
}

.top-bar-section ul li > a.button.alert:hover {
background: white;
border: 1px @grey solid;
color: @red;
}

.top-bar-section ul li > a.button.success {
background: @red;
border: 1px @red solid;
color: white;
}

.top-bar-section ul li > a.button.success:hover {
background: white;
border: 1px @red solid;
color: @red;
}

.login-button
{
  background-color: @red;
}

.logo{
  max-width: 40px;
  max-height: 40px;
}



//------------appointment------------------------------------------------//
.appointment
{
  background-color: transparent;
  border: 2px solid @red;
  // opacity: 0.5;
  padding:10px;

  .title{color:@red;}
  .date{color: @grey;}
  .time{color: @grey;}
  .content{color:@grey;}

}



#content{
  height:300px;
  overflow-wrap:auto;
}

#content input{
  height:300px;
  width:100%;
  padding:20px;
}



#save-appointment
{
  background: @grey;
  border: 1px @grey solid;
  color: black;
}
//-------------------Project page------------------------------------//
//-------------------------------------------------------------------//
//-------------------------------------------------------------------//
.project
{
  background-color: transparent;
  border: 2px solid @red;
  // opacity: 0.5;
  padding-bottom:30px;

  .titles{color:@red; padding-left: 10px; font-size: 16px; font-weight: bold;}
  .title{color:@red; padding-left:10px; background-color: @dkgrey;}
  .date{color: @grey;padding-left: 10px;font-size: 14px;}
  .time{color: @grey;padding-left: 10px;font-size: 14px;}
  .content{color:@grey;padding-left: 10px;font-size: 14px; border-bottom: 1px @dkgrey solid;}

}



#content{
  height:300px;
  overflow-wrap:auto;
}

#content input{
  height:300px;
  width:100%;
  padding:20px;
}



#save-project
{
  background: @grey;
  border: 1px @grey solid;
  color: black;
}
//-------------------Contact page------------------------------------//
//-------------------------------------------------------------------//
//-------------------------------------------------------------------//
.contact-wrapper{
  background-color: transparent;
  border: 2px solid @red;
  padding-bottom: 50px;


  .name{color:@red; background-color: @dkgrey;padding:10px; border-bottom: 1px @dkgrey solid; }
  .number{color: @grey;padding:10px;}
  .numberh4{padding-left:10px; border-bottom: 1px @dkgrey solid;}
}
.gsc-control-cse {
font-family: Arial, sans-serif;
border-color: @grey;
background-color: @red;
}
.contact-indiviual
{
  background-color: transparent;
  border: 2px solid @red;
  .titles{padding:10px; color: @grey; background-color: @dkgrey; }
  .name{color:@red;padding:10px;}
  .number{color: @grey;padding:10px;}
  .address{color: @grey;padding:10px;}
  .email{color: @grey;padding:10px;}
  .birthday{color: @grey;padding:10px;}
}

.chkbox{
  margin: 5px;
  float: left;
  width: 150px;

  span{
    padding-left: 3px;
    color: @red;
  }

  input{
    margin: 0px;
  }
}
//----------------------------------financial------------------------//
//----------------------------------financial------------------------//
//----------------------------------financial-----------------------//

.bills
{
  background-color: transparent;
  border: 2px solid @red;
  padding-bottom:50px;
  // opacity: 0.5;

  .marginb10{margin-top:10px;}
  .titles{color: @red; font-size: 16px; padding-left:20px; font-weight: bold; padding-bottom: 30px;}
  .title{color:@red; background-color: @dkgrey; padding-left: 10px;}
  .amount{color: @grey;padding-bottom: 30px;padding-left: 5px;}
  .balance{color: @grey;padding-bottom: 30px;padding-left: 5px;}
  .time{color:@grey;padding-bottom: 30px;padding-left: 5px;}

}
//-------------------General page------------------------------------//
//-------------------------------------------------------------------//
//-------------------------------------------------------------------//
.checkbox{
  margin: 0px;
  width:50px;
  height:50px;
}
.finish
{
  background-color: @red;
}
.generals
{
  background-color: transparent;
  border: 2px solid @red;
  // opacity: 0.5;
  padding-bottom:30px;
  #title{width:500px;}
  .titles{color:@red;padding-left:10px;}
  .title{color:@red; padding-left:89px; font-size: 44px; }
  .time{color: @grey;padding-left:10px; border-bottom: 1px @dkgrey solid;}
  .date{color: @grey;padding-left:10px;border-bottom: 1px @dkgrey solid;}
  .content{color:@grey;padding-left:10px;border-bottom: 1px @dkgrey solid;}

}


@media screen and (min-width: 100px) and (max-width: 940px) {


    /** Mobile **/

}