body
{
  background-color: orange;

}

#wrapper
{
 margin:0 auto;
 width:960px;
 height:600px;
 background-color: white;
}

table
{
  border-left:2px dashed orange;
  border-right:2px dashed orange;
}

.upbtn{
  width:32px;
  height:32px;
  background-color: green;
  border-radius: 50px;

}
.dwnbtn{
  width:32px;
  height:32px;
  background-color: red;
  border-radius: 50px;

}

.name
{

  width:200px;

}

.food
{

  width:200px;

}

.ctrl
{


}
