extends ../template/splash-page
include ../mixins/form-helper

block content
  .row
    .small-2.columns
      //- include todo-form
      h1 .
    .small-10.columns
      h1 entry page
      a(href='/appointment/new').button.expand.radius.alert Create Appointment
  .row
    .small-12.columns
      #appointments
        each appointment in appointments
          .appointment
            h1: a.button(href='/entry/#{appointment.id}')= appointment.title
            span= appointment.date
            p= appointment.content
