.fixedAA
  nav.left-nav
    ul.side-nav
      li
        a(href="/entry"): img.logo(src="../images/keep-up-logo-solid.jpg")
      li
        a(href="#") Contacts
      li
        a(href="#") Progress
      li
        a(href="/calendar") Calendar
      li
        a(href="#") Timer
      li
        a(href="#") Network
