.fixedAA
  nav.left-nav
    ul.side-nav
      li
        a(href="/entry"): img.logo(src="../images/keep-up-logo-solid.jpg")
      li
        a(href="/entry") Home
      li
        a(href="#") Contacts
      li
        a(href="#") Progress
      li
        a(href="/appointment/new") Create Appointments
      li
        a(href="#") Timer
      li
        a(href="#") Network
.clearRightNav
