extends ../template/splash-page
include ../mixins/form-helper-app-edit

block content
  .row
    .small-12.columns
      #the-application(class=user ? '' : 'hidden')
        h1 Edit Appointment
        form(action='/project/#{project.isNew ? "" : project.id}', method='post')
          if !project.isNew
            input(type='hidden', name='_method', value='put')
          fieldset
            legend
            .row
              mixin field(4, 'title', 'Title', project.title, null, true)
              mixin field(2, 'startDate', 'StartDate', project.startDate, null, false)
              mixin field(2, 'endDate', 'EndDate  (optional)', project.endDate, null, false)
              mixin field(2, 'startTime', 'StartTime', project.startTime, null, false)
              mixin field(2, 'endTime', 'EndTime  (optional)', project.endTime, null, false)
            .row
              .small-12.columns
                p .
                label(value=project.content) Description
                textarea#content(name='content')=project.content
            .row
              .small-2.columns.small-offset-8: a.button.radius.alert.small.expand(href='/project') Cancel
              .small-2.columns: button.radius.success.small.expand(type='submit') Save Changes