extends ../template/splash-page
include ../mixins/form-helper-appointment

block content
  .row
    .small-12.columns
      h1 Create Appointment
  .row
    .small-12.columns
      #the-application(class=user ? '' : 'hidden')
        form#project(action='/project', method='post')
          fieldset
            legend
            .row
              mixin field(4, 'title', 'Title', null, null, true)
              mixin field(2, 'startDate', 'StartDate', null, null, false)
              mixin field(2, 'endDate', 'EndDate (optional)', null, null, false)
              mixin field(2, 'startTime', 'StartTime', null, null, false)
              mixin field(2, 'endTime', 'endTime (optional)', null, null, false)
            .row
              .small-12.columns
                p .
                label(for='content') Description
                textarea#content(name='content')
            .row
              .small-2.columns.small-offset-8: a.button.radius.alert.small.expand(href='/project') Cancel
              .small-2.columns: button.radius.small.expand.alert(type='submit') Save Projects


//- select#sectionSelect
//-   option(value=selectNeutral) Select Section
