doctype 5
html
  head
    title Dogs!!!
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 My Dogs page
    p Welcome to Node
    img(src='http://www.wallope.com/wp-content/uploads/dogs-wallpapers-1-dogs-puppies-wallpaper-300x300.jpg')