#left
  #map-canvas
#right
  .row
    .small-12.columns
      %input#erase.button.radius.small.alert{type: 'button', value: 'ERASE'}
  .row
    .small-12.columns
      %input#start.button.radius.small.success{type: 'button', value: 'START'}
  .row
    .small-12.columns
      %input#stop.button.radius.small{type: 'button', value: 'STOP'}
  .row
    .small-12.columns
      %p#debug