!!!5
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %title Task
    %link{rel: 'stylesheet', href: 'css/normalize.css'}
    %link{rel: 'stylesheet', href: 'css/style.css'}
  %body
    #wrapper
      %h1 Create your Task
      %input#typeDate{type: 'text', placeholder: '10/10/2013'}
      %input#typeTask{type: 'text', placeholder: 'Enter task'}
      %input#typeColor{type: 'text', placeholder: '#f00'}
      %input#addtask{type: 'button', value: 'Add Task'}
      %h1 Task List
      %table


    %script{src: 'js/jquery-1.10.2.min.js'}
    %script{src: 'js/underscore-min.js'}
    %script{src: 'js/main.js'}
