.personBox
{
  width:200px;
  height:300px;
  border: 2px solid black;
  float:left;
  text-align:center;
  margin:10px;
}

.photo {
 display: block;
 width:100px;
 height:100px;
 margin: 5px auto; }
 
a
 {
   color: white;
   background-color:black;
   display:block;
 }
a:hover
{
  color:white;
  background-color:green;
  
}
