form#contact(action='/contact', method='post')
  fieldset
    legend
    .row
      mixin field(8, 'text', 'name', 'Name')
    .row
      mixin field(8, 'text', 'number', 'Number')
    .row
      mixin field(8, 'text', 'address', 'Address')
    .row
      mixin field(8, 'text', 'email', 'Email')
    .row
      mixin field(8, 'text', 'birthday', 'Birthday')
    .row
      .small-8.columns: button#new-contact.radius.small.alert.expand Create
    .row
      .small-8.columns: a.button.radius.small.expand(href='/contact') Cancel
      //- .small-4.small-offset-8.columns: button#new-contact.radius.small.alert.expand Create

