extends ../template/splash-page
include ../mixins/form-helper

block content
  #the-application(class=user ? '' : 'hidden')
    .row
      .small-12.columns
        h1 Your Contacts
    .row
      .small-7.columns
        h3 ADD Contact
      .small-1.columns
        a#show-contactForm(href='#').button.expand.radius.alert +
      .small-4.columns
        h1 .
    .row
      .small-12.columns
        include contact-form
    .row
      .small-12.columns
        #contact-display
          each contact in contacts
            .contact-wrapper
              h1.name= contact.name
              h4.number= contact.number
              form(action='/entry/#{contact.id}', method='post')
                    button.tiny.radius.alert(type='submit') Details